html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  cursor: pointer;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.traversable-menu {
  padding: 0rem;
  margin: 0;
  height: 100%;
  background-color: white;
}

.-panel-height-auto,
.-panels-container-height-auto {
  overflow-y: hidden;
}

.traversable-menu ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.traversable-menu ul li {
  list-style: none;
  list-style-type: none;
  padding: 0px;
  padding: 0.5rem;
  clear: both;
  border-bottom: 1px solid #222;
}

.menu__panel__trigger--parent {
  display: block;
  padding: 0.5rem;
  background-color: #eeeeee;
}

.menu__panel__trigger--child {
  float: right;
}

.menu__panel__trigger--top {
  display: block;
  padding: 0.5rem;
  background-color: #cccccc;
}

.menu__panel {
  background-color: #ffffff;
}

.menu__panel__title {
  font-weight: bold;
  margin-bottom: 1rem;
}

/* https://cdn.jsdelivr.net/npm/traversable_menu@1.1.1/traversable_menu.css */

.traversable-menu {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu__panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  width: 100%;
  transition: transform 350ms ease-in-out; /* If you change this, mke sure to also change the panel_slide_animation_duration setting when calling TraversableMenu */
  transform: translateX(100%);
  overflow-x: hidden;
  overflow-y: auto;
}

.menu__panel--depth-0,
.menu__panel--active-trail {
  transform: translateX(0);
}

.menu__panel.-show-immediate {
  transition-duration: 0ms;
}

.-show-immediate {
  transition-duration: 0ms !important;
}
