{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <div class="traversable-menu">
        <div class="menu__panel">
          <div class="menu__panel__title"><!-- automatically replaced with javascript --></div>
          <ul>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li class="menu__item">
        {{ link(item.title, item.url, { 'class':['menu__item__link']}) }}
        {% if item.below %}
          <a href="#" class="menu__panel__trigger--child">Explore ></a>
          <div class="menu__panel">
            <div class="menu__panel__title"></div>
            <a href="#" class="menu__panel__trigger--top"></a>
            <a href="#" class="menu__panel__trigger--parent">Up a level (this gets replaced in JS)</a>
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
